# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Data
data/
isic_data/

# IDE / OS
.idea/
.vscode/
.DS_Store
*.ipynb_checkpoints/

# LaTeX build artifacts
report/*.aux
report/*.log
report/*.out
report/*.pdf
report/*.synctex.gz
