# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Data & results
data/
isic_data/
results/*.npy
results/*.png
results_isic/*.npy
results_isic/*.png

# IDE / OS
.idea/
.vscode/
.DS_Store
*.ipynb_checkpoints/

# LaTeX build artifacts
report/*.aux
report/*.log
report/*.out
report/*.pdf
report/*.synctex.gz
